img {
	height: 107px;
	width: 197px;
	border-radius: 25px;
}

input {
	border: 1px solid #008000;
	width: 230px;
	height: 30px;
	border-radius: 10px;
	margin-top: 10px;
}

button {
	width: 75px;
	height: 25px;
	background-color: #990000;
	border-radius: 10px;
	color: #FFFFFF;
	margin-top: 10px;
}

.margin {
	height: 200px;
}

.logo {
	text-align: center;
}

.search {
	text-align: center;
}